<!-- BEGIN: Header -->
<header id="m_header" class="m-grid__item    m-header "  m-minimize-offset="200" m-minimize-mobile-offset="200" >
	<div class="m-container m-container--responsive m-container--xxl m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!--[html-partial:include:{"file":"partials\/_header-brand.html"}]/-->
            {% include "partials/_header-brand.html" %}
			<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
				<div class="m-header__title">
					<h3 class="m-header__title-text">
						Upload Wizard
					</h3>
				</div>
				<!--[html-partial:include:{"file":"partials\/_header-hor-menu.html"}]/-->
                {% include "partials/_header-hor-menu.html" %}
                <!--[html-partial:include:{"file":"partials\/_header-topbar.html"}]/-->
                {% include "partials/_header-topbar.html" %}
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->
