{% extends 'flask_user/public_base.html' %}

{% block content %}
    <div class="m-login__head">
        <h3 class="m-login__title">
            Reset Your Password
        </h3>
        <div class="m-login__desc">
            Enter your new password
        </div>
    </div>
    <form action="" method="post" class="form m-login__form m-form" role="form">
        {{ form.hidden_tag() }}
        {% set field1 = form.new_password %}
        {% if field1.errors %}
            {% for e in field1.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
        {% endif %}
        {% set field2 = form.retype_password %}
        {% if field2.errors %}
            {% for e in field2.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group m-form__group  ">
            <input class="form-control m-input password1" id="new_password" name="new_password" placeholder="Password" tabindex="230" type="password" value="">
        </div>
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="retype_password" name="retype_password" placeholder="Retype Password" tabindex="240" type="password" value="">
        </div>
        <div class="m-login__form-action  ">
            <button class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr"
            type="submit">
                Request Password Reset
            </button>
        </div>
    </form>
{% endblock %}
