{% extends 'flask_user/public_base.html' %}


{% block content %}


<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Sign In
        </h3>
    </div>

    {# ** Login form ** #}
    <form method="POST" class="form m-login__form m-form" role="form">
        {{ login_form.hidden_tag() }}
        {% set field1 = form.username %}
        {% if field1.errors %}
            {% for e in field1.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        <span>{{ e }}</span>
                    </div>
            {% endfor %}
        {% endif %}
        {% set field2 = form.password %}
        {% if field2.errors %}
            {% for e in field2.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="username" name="username" placeholder="Username or Email" tabindex="110" type="text" value="">
        </div>
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="password" name="password" placeholder="Password" tabindex="120" type="password" value="">
        </div>

        <div class="row m-login__form-sub">
            {% if user_manager.enable_remember_me %}
            <div class="col m--align-left m-login__form-left">
                <label class="m-checkbox  m-checkbox--focus">
                    <input type="checkbox" name="remember">
                    Remember me
                    <span></span>
                </label>
            </div>
            {% endif %}
            {% if user_manager.enable_forgot_password %}
            <div class="col m--align-right m-login__form-right">
                <a href="javascript:;" id="m_login_forget_password" class="m-link">
                    Forget Password ?
                </a>
            </div>
            {% endif %}
        </div>
        <div class="m-login__form-action">
            <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                Sign In
            </button>
        </div>
    </form>
</div>
<div class="m-login__signup">
    <div class="m-login__head">
        <h3 class="m-login__title">
            {%trans%}Sign Up{%endtrans%}
        </h3>
        <div class="m-login__desc">
            Enter your details to create your account:
        </div>
    </div>
    <form action="{{ url_for('user.register') }}" method="POST" novalidate formnovalidate
          class="form m-login__form m-form" role="form">
        {{ register_form.hidden_tag() }}
        {% set field3 = register_form.email %}
        {% if field3.errors %}
            {% for e in field3.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
        {% endif %}
        {% set field4 = register_form.password %}
        {% if field4.errors %}
            {% for e in field4.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
        {% endif %}
        {% set field5 = register_form.retype_password %}
        {% if field5.errors %}
            {% for e in field5.errors %}
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="username" name="username" placeholder="Username" tabindex="210" type="text" value="">
        </div>
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="email" name="email" placeholder="Email" tabindex="220" type="text" value="">
        </div>
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="password" name="password" placeholder="Password" tabindex="230" type="password" value="">
        </div>
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="retype_password" name="retype_password" placeholder="Retype Password" tabindex="240" type="password" value="">
        </div>

        <div class="m-login__form-action">
            <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                Register
            </button>
            <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                Cancel
            </button>
        </div>
    </form>
</div>
<div class="m-login__forget-password">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Forgotten Password ?
        </h3>
        <div class="m-login__desc">
            Enter your email to reset your password:
        </div>
    </div>
    <form class="form m-login__form m-form" action="{{ url_for('user.forgot_password') }}" method="POST" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group m-form__group  ">
            <input class="form-control m-input" id="email" name="email" placeholder="Email" tabindex="10" type="text" value="">
        </div>
        <div class="m-login__form-action">
            <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                Request
            </button>
            <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                Cancel
            </button>
        </div>
    </form>
</div>
{% endblock %}