{% extends 'admin/master.html' %}
{% block body %}
    {% if current_user.has_role('Admin') %}
        <h3>Welcome to the Upload Wizard Tool.</h3>
        <p>You have have logged in as an administrator. Please be careful. You can</p>
        <ul>
        <li> review recent account applications </li>
        <li> monitor recent uploads </li>
        <li> curate vendors </li>
        <li> curate other parameters </li>
        </ul>
        <p>During the development please direct questions to Chinzo D via
            <a href="https://github.com/ChinzoD/upload-wizard/issues" target="_blank">
            https://github.com/ChinzoD/upload-wizard/issues</a>
        </p>
    {% else %}
        <meta http-equiv="refresh" content="0; url=/404" />
    {% endif %}

{% endblock %}