{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else %}
        Welcome to Microblog
    {% endif %}
{% endblock %}

{%- block styles %}
{{ super() }}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
{%- endblock styles %}

{% block navbar %}
    <div class="navbar navbar-default">
        <nav class="container">
          <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Vendor upload v1.0</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  {% if current_user.is_anonymous %}
                  <li><a href="{{ url_for('user.login') }}">Login</a></li>
                  {% elif current_user.has_role('Vendor')  %}
                  <li><a href="{{ url_for('history') }}">Home</a></li>
                  <li><a href="{{ url_for('upload') }}">File Upload</a></li>
                  <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
                  {% else %}
                  <li><a href="{{ url_for('welcome') }}">Home</a></li>
                  <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
                  {% endif %}
                </ul>
              </div>
          </div>
        </nav>
    </div>
<div class="container">
{% endblock %}

{% block content %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

{% endblock %}


{% block scripts %}
     </div>
    {{ super() }}
{% endblock %}