<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <span >© 2018 </span>
            <a target="_blank" href="https://github.com/chinzod">Chinzorig Dandarchuluun</a> and UC Regents
            <a target="_blank" href="http://wiki.bkslab.org/index.php/Terms_And_Conditions">Terms of use</a>
            <a target="_blank" href="http://wiki.bkslab.org/index.php/Privacy_policy">Privacy policy</a>
            <a target="_blank" href="http://www.nigms.nih.gov/">Supported by NIGMS via GM71896</a>
            <a target="_blank" href="http://irwinlab.compbio.ucsf.edu">Irwin</a> and
            <a target="_blank" href="http://bkslab.org">Shoichet</a> Labs.
        </p>
    </div>
</footer>