{% extends "base.html" %}

{% block app_content %}
    <h1>Upload History</h1>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>File Name</th>
                <th>Result</th>
                <th>Type</th>
                <th>Purchasability</th>
                <th>Natural Products</th>
                <th>File Size</th>
            </tr>
          </thead>
          <tbody>
            {% for history in histories %}
            <tr valign="top">
                <td>{{ pagestart+loop.index }}</td>
                <td>{{ moment(history.date_uploaded).format('LLL') }}</td>
                <td>{{ history.file_name }}</td>
                <td><a href="{{ url_for('main.result', id=history.id)  }}">result</a></td>
                <td>{{ history.type }}</td>
                <td>{{ history.purchasability }}</td>
                <td>{{ history.natural_products }}</td>
                <td>{{ history.file_size }}</td>
            </tr>
            {% endfor %}
          </tbody>
            {% if prev_url %}
            <a href="{{ prev_url }}"> Prev </a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}"> Next </a>
            {% endif %}
        </table>
    </div>

{% endblock %}