{% extends "base.html" %}
{% block content %}
<div class="m-portlet__body">
<div class="jumbotron m-portlet__body">
  <h2 class="display-4">Welcome to ZINC's Catalog Upload Tool</h2>
    <hr>
    <h4>Aim of this website</h4>
  <p class="lead">
      This website is to help you the vendor to update your catalog in the <a href="zinc.docking.org" target="_blank">ZINC database</a>
We have tried to make this website easy to use. If you have trouble, or if you have suggestions on how to improve it,
      or if you have questions about it, please write to Khanh Tang at <a href="mailto:docking.email_at_gmail_dot_com">docking.email_at_gmail_dot_com</a></p>
  <hr class="my-4">
    <p>For more info, please visit our <a href="/help">Help Page</a></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ url_for('user.login') }}" role="button">Sign In</a>
  </p>
</div>
</div>
{% endblock %}
