{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="m-portlet m-portlet--mobile ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">File Upload</h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div>
                <div class="alert alert-danger" style="display: none" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:0px">
                            <span aria-hidden="true" >&times;</span></button><div class="text"></div></div>
                <div class="alert alert-success" style="display: none" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:0px">
                    <span aria-hidden="true" >&times;</span></button><div class="text"></div></div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="progress" style="display: none">
                      <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                           aria-valuemax="100" style="min-width: 2em;">
                        0%
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8">
                    <h5>Acceptable file formats: .bz2, .7z, .tar, .gz, .zip, .sdf, .txt, .smi, .csv, .tsv</h5>
                    <h5>Special requirements for the <strong>.TXT</strong> file:</h5>
                    <ul>
                        <li>
                            .TXT file maximum upload size limit: <span class="label label-success">1GB</span>
                        </li>
                        <li> File mandatory columns
                            <table border="1" style="margin:5px;">
                                <!--<tr>-->
                                    <!--<td style="padding:5px;" colspan="{{ formats | length }}">File mandatory columns order and types</td>-->
                                <!--</tr>-->
                                <tr>
                                    {% for format in formats %}
                                    <td style="padding:5px;" > {{ format.title}}(type:{{ format.col_type}}) </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
        $(document).ready(function () {
           $(function() {

                var maxsize = 1024 * 1024 * 1024; // 1GB

                $('form').on('submit', function(event) {
                    event.preventDefault();

                    $('#progressBar').attr('aria-valuenow', 0).css('width', '0%').text('0%');
                    $('.progress').show();
                    $('.alert-danger').hide();
                    $('.alert-success').hide();
                    $('#file').hide();
                    $('#submit').attr('disabled', '');

                    //var form_data = new FormData($('form')[0]);
                    var form_data = new FormData($('form')[0]);
                    $.ajax({
                        xhr: function(){
                            var xhr = new window.XMLHttpRequest();
                            xhr.upload.addEventListener('progress', function(e){
                               if(e.lengthComputable){
                                   console.log('Bytes Loaded: ' + e.loaded);
                                   console.log('Total size: ' + e.total);
                                   console.log('Percentage uploaded: ' + (e.loaded / e.total));

                                   var percent = Math.round((e.loaded / e.total) * 100);

                                   $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                               }
                            });
                            return xhr;
                        },
                        type: 'POST',
                        url: '/upload',
                        data: form_data,
                        contentType: false,
                        // cache: false,
                        processData: false,
                        // async: false,
                        success: function(data) {
                            if(data[1] == 200) {
                                $('#file').val("");
                                $('.alert-success .text').text(data[0].message);
                                $('.alert-success').show();
                            }else if(data[1] == 400 || data[1] == 500){
                                $('.progress').hide();
                                $('.alert-danger .text').text(data[0].message);
                                $('.alert-danger').show();
                            }else{
                                $('.progress').hide();
                                $('.alert-danger .text').text('Please upload only allowed files! ' +
                                    '(.bz2, .7z, .tar, .gz, .zip, .sdf, .txt, .smi, .csv, .tsv)');
                                $('.alert-danger').show();
                            }
                            $('#file').show();
                            $('#submit').removeAttr("disabled");
                        },error: function(jqXHR, status, err){
                            $('.alert-danger .text').text(err.toLowerCase()+'!');
                            $('.alert-danger').show();
                            $('#file').show();
                            $('#submit').removeAttr("disabled");
                        }
                    });
                });

                $('#file').change(function() {

                    $('#message').empty();

                    var file = this.files[0];
                    var val = $(this).val().toLowerCase(),
                        regex = new RegExp("(.*?)\.(bz2|7z|tar|gz|zip|sdf|txt|smi|csv)$");

                    if (!(regex.test(val))) {
                        $(this).val('');
                        $('.progress').hide();
                        $('.alert-danger .text').text('Unvalid file format. ' +
                            'Allowed formats: .bz2, .7z, .tar, .gz, .zip, .sdf, .txt, .smi, .csv, .tsv');
                        $('.alert-danger').show();
                        $('#submit').attr('disabled', '');
                        return false;
                    }

                    if ( file.size > maxsize )
                    {
                        $('.progress').hide();
                        $('.alert-danger .text').text('The size of image you are attempting to upload is ' +
                            (file.size/1024).toFixed(2) + ' GB, maximum size allowed is ' + (maxsize/1024).toFixed(2));
                        $('.alert-danger').show();
                        $('#submit').attr('disabled', '');
                        return false;
                    }

                    $('#submit').removeAttr("disabled");


                });
            });
       });
    </script>
{% endblock %}
