{% extends "base.html" %}

{% block content %}
        <div class="m-portlet m-portlet--mobile ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        {% if current_user.has_role('Vendor') %}
{#                            {% if user.company %}#}
                            <h3 class="m-portlet__head-text">Welcome {{ user.username }}!</h3>
{#                            {% endif %}#}
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                 {% if current_user.has_role('Vendor') %}
		<h3>Aim of this website</h3>
                     <p>This website is to help you the vendor to update your catalog in the <a href="http://zinc15.docking.org" target="_blank"><b>ZINC database</b></a>
We have tried to make this website easy to use. If you have trouble, or if you have suggestions on how to improve it,
                         or if you have questions about it, please write to <b>Khanh Tang</b> at <u>docking.email_at_gmail_dot_com</u></p>
                 <table>
                    <tr valign="top">
                        <td>
                            {% if user.company.logo %}
                                    <img src="{{ user.company.url }}" style="max-height: 150px">
                            {% endif %}
                        </td>
                    </tr>
                 <p>You have uploaded {{ user_upload_count }}</p>
                </table>
                     {% if user.company %}
                         {% if latest_history %}
                         <div class="m-portlet__body">
                              <div class="card-header text-center">
                                  <h4>Last Catalog Update</h4>
                              </div>
                              <div class="card-body">
                                <p class="card-title">File name : {{ latest_history.file_name }}</p>

                                  <p class="card-title">Catalog Type : {{ catalog_type }}</p>
                                  <p class="card-title">Status :  {{ status }}</p>
    {#                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
                                  <a href="{{ url_for('main.upload') }}" class="btn btn-info text center">Submit new Catalog Update</a>
                              </div>
                              <div class="card-footer text-muted">
                                Last updated on : {{ moment(latest_history.last_updated).format('LLL') }}
                              </div>
                            </div>
                             {% else %}
                                  <a href="{{ url_for('main.upload') }}" class="btn btn-info text center">Click here to submit catalog to ZINC</a>

                             {% endif %}
                      {% else %}
                         <p class="lead">Please fill Company Profile on the top bar.</p>
                      {% endif %}

                {% else %}
                <p>For security, please wait for the administrator to review your account application.
                        This often takes only a few hours. You will receive an email when you have been approved to upload files.
                        Thank you for your patience.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}
